*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.height{
    height: 90px;
}
.v-allign{
    vertical-align: middle;
}
.img-size{
    height: 80px;
    width: 80px;
}
.font-size{
    font-size: 80px;
}
body{
    background-color: rgb(213, 212, 212);
}
header{
    background-color: white;
}
.container{
    background-color: white;
    width: 1000px;
    margin: auto;
}
.content{
    background-color: white;
    margin-top: 30px;
}