*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.height{
    height: 90px;
}
.v-allign{
    vertical-align: middle;
}
.img-size{
    height: 80px;
    width: 80px;
}
.font-size{
    font-size: 80px;
}
body{
    background-color: rgb(213, 212, 212);
}
header{
    background-color: white;
}
.container{
    background-color: white;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
    height: 500px;
}
.content{
    background-color: white;
    margin-top: 30px;
}
.border1{
    border-style: solid;
    border-color:  rgb(67, 146, 202, 0.885);
    display: inline-block;
    background-color: rgba(67, 146, 202, 0.885);
    color: white;
    border-radius: 5px;
    margin-left: 18px;
}
.border2{
    border-style: solid;
    border-color: rgb(188, 185, 185);
    display: inline-block;
    background-color: white;
    color: rgb(188, 185, 185);
    border-radius: 5px;
}
.pallino1{
    display: inline-block;
    border-style: solid;
    border-color: rgb(101, 213, 161);
    background-color: white;
    color: rgb(101, 213, 161);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}
.pallino2{
    display: inline-block;
    border-style: solid;
    border-color: rgb(181, 23, 23);
    background-color: white;
    color: rgb(181, 23, 23);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}
.rettangolo1{
    display: inline-block;
    border-style: solid;
    border-color: rgb(67, 146, 202, 0.885);
    background-color: rgb(67, 146, 202, 0.885);
    color: white;
    border-radius: 10%;
    height: 22px;
    width: 65px;
    text-align: center;
    vertical-align: middle;
}
.rettangolo2{
    display: inline-block;
    border-style: solid;
    border-color: rgba(173, 112, 199, 0.885);
    background-color: rgb(173, 112, 199, 0.885);
    color: white;
    border-radius: 10%;
    height: 22px;
    width: 80px;
    text-align: center;
    vertical-align: middle;
}
.rettangolo3{
    display: inline-block;
    border-style: solid;
    border-color: rgba(112, 199, 163, 0.885);
    background-color: rgb(112, 199, 163, 0.885);
    color: white;
    border-radius: 10%;
    height: 22px;
    width: 68px;
    text-align: center;
    vertical-align: middle;
}
.rettangolo4{
    display: inline-block;
    border-style: solid;
    border-color: orange;
    background-color: orange;
    color: white;
    border-radius: 10%;
    height: 22px;
    width: 55px;
    text-align: center;
    vertical-align: middle;
}
.rettangolo5{
    display: inline-block;
    border-style: solid;
    border-color: rgb(255, 0, 144);
    background-color: rgb(255, 0, 144);
    color: white;
    border-radius: 10%;
    height: 22px;
    width: 55px;
    text-align: center;
    vertical-align: middle;
}
.rettangolo6{
    display: inline-block;
    border-style: solid;
    border-color: rgb(184, 214, 76);
    background-color: rgb(184, 214, 76);
    color: white;
    border-radius: 10%;
    height: 22px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}
main{
    padding: 2px;
    font-family: "MHei PRC Medium";
}
ul{
    margin: 10px;
    list-style-type: none;
}
li{
    margin: 10px;
}




